// bower:scss
// endbower

body {
  align-items: center;
  background-size: 200px 500px;
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  min-width: 510px;
  
  background: url('/../images/forest.jpg') repeat-y;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-area {
  align-items: center;
  display: flex;
  justify-content: center;
  
  font-family: monospace;

}

.hero-unit {
  font-size: 18px;
  line-height: 30px;
  padding: 30px 60px 60px;
  width: 500px;
  
  background-color: rgba(255,255,255,0.2);
  border-radius: 6px;
  color: #fff;
  font-weight: 200;

  h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;

  background: #ccc;
}

.grid {
  display: flex;
}

.grid-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
}

.grid-area__title {
  align-items: flex-end;
  border-right: solid 1px #ffff00;
  padding: 0 20px 0 0;
  
  color: #00ffff;
}

.main-title {
  color: #00ff33;
}

.list-point {
  list-style: none;
}

.list-point:before {
  content: '>';
  padding-right: 10px;
}


// SIDEBAR FOR CONTACT ME INFO & FORM
.contact {
  height: 100vh;
  left: 100vw;
  position: fixed;
  width: 300px;
  
  background-color: red;
  transition: 1s;
}

.switcher {
// .contact:hover {
  left: calc(100vw - 300px);
  transition-timing-function: ease;
}

.contact-button {
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 10px;
  border: solid 1px white;
  color: white;
  z-index: 22;
}